.container{
  text-align: center;
  display: flex;
  justify-content: center;

}
.profile-container{
  text-align: left;
}
.profile-pic{
  margin-top: 50px;
}
.profile-container h1{
  color:skyblue;
}
.profile-container p{
  color:gray;
  font-size: 13px;
  margin-bottom: -1px;
}
.profile-container strong{
  font-size:18px;
}